---
// e.g., src/pages/join.astro
import Site from "../layouts/Site.astro";
---
<Site title="Join">
    <main class="main-wrap">
                    <section class="banner-area">
                        <div class="w-layout-blockcontainer container w-container">
                            <div class="banner-wrap">
                                <h1 data-w-id="b06636fc-766b-824c-444b-3fb25ff3ec1f" class="heading-two text-white">Join Climate reAction</h1>
                                <p
                                    data-w-id="c8f3c719-28f8-6cb1-447f-83dd2ef807c8"
                                    class="section-content text-white indent-70"
                                >Are you a scientist concerned about climate policy and funding? Join the conversation!</p>
                            </div>
                        </div>
                        <div class="banner-img-wrap">
                            <img
                                src="https://cdn.prod.website-files.com/68c7aacd7c9fdb902f73c74d/68d675c7ccc40636f8d0fe01_service-banner.avif"
                                loading="lazy"
                                alt="Our services"
                                class="banner-img"
                            />
                        </div>
                    </section>
                    <section class="contact-area">
                        <div class="w-layout-blockcontainer container w-container">
                            <div class="contact-wrap">
                                <div class="contact-left">
                                    <h2
                                        data-w-id="5dcabf05-4b56-8628-c5d2-885290479c2e"
                                        
                                        class="heading-four"
                                    >
                                        Join us!
                                    </h2>
                                    <p
                                        data-w-id="96e5bd87-d3c5-3b45-3e34-d55834deaff4"
                                        
                                        class="section-content pt-16"
                                    >
                                        Sign up to join our monthly meetings and get invited to our discord server!
                                    </p>
                                    <!-- <div
                                        data-w-id="ebb9fa87-2df6-997a-18d6-03fce54910e3"
                                        
                                        class="contact-info-item _1st"
                                    >
                                        <p class="contact-info-title">Social media</p>
                                        <ul role="list" class="social-list">
                                            <li class="social-item">
                                                <a
                                                    href="https://x.com/?lang=en"
                                                    target="_blank"
                                                    class="social-link-two w-inline-block"
                                                    ><img
                                                        src="https://cdn.prod.website-files.com/68c7aacd7c9fdb902f73c74d/68d511954771a4d606401bd1_twitter.svg"
                                                        loading="lazy"
                                                        alt="Icon"
                                                        class="social-icon"
                                                /></a>
                                            </li>
                                            <li class="social-item">
                                                <a
                                                    href="https://www.linkedin.com/feed/"
                                                    class="social-link-two w-inline-block"
                                                    ><img
                                                        src="https://cdn.prod.website-files.com/68c7aacd7c9fdb902f73c74d/68d51195e07003dbb83af950_linkedin.svg"
                                                        loading="lazy"
                                                        alt="Icon"
                                                        class="social-icon"
                                                /></a>
                                            </li>
                                            <li class="social-item">
                                                <a
                                                    href="https://www.instagram.com/"
                                                    target="_blank"
                                                    class="social-link-two w-inline-block"
                                                    ><img
                                                        src="https://cdn.prod.website-files.com/68c7aacd7c9fdb902f73c74d/68d51195e940f3ff64dcdef1_instagram.svg"
                                                        loading="lazy"
                                                        alt="Icon"
                                                        class="social-icon"
                                                /></a>
                                            </li>
                                            <li class="social-item">
                                                <a
                                                    href="https://www.facebook.com/"
                                                    target="_blank"
                                                    class="social-link-two w-inline-block"
                                                    ><img
                                                        src="https://cdn.prod.website-files.com/68c7aacd7c9fdb902f73c74d/68d511954d4a112197ced7ea_facebook.svg"
                                                        loading="lazy"
                                                        alt="Icon"
                                                        class="social-icon"
                                                /></a>
                                            </li>
                                        </ul>
                                    </div> -->
                                    <!-- <div
                                        data-w-id="3c92b487-cc72-eff5-d5d9-014ebc2178ec"
                                        
                                        class="contact-info-item"
                                    >
                                        <p class="contact-info-title">Location</p>
                                        <p class="section-content">Boulder, CO</p>
                                    </div> -->
                                    <div
                                        data-w-id="d3ae84d8-4406-87e6-f0e6-88bd9cd9054c"
                                        
                                        class="contact-info-item"
                                    >
                                        <p class="contact-info-title">Email</p>
                                        <a
                                            href="climaterxn@gmail.com"
                                            class="contact-info-link"
                                            >climaterxn@gmail.com</a
                                        >
                                    </div>
                                </div>
                                <div class="form-main w-form">
                                    <form
                                      action="https://docs.google.com/forms/u/0/d/e/1FAIpQLScO4YCubOjiPIh6729pn3MMk0HZPOxcXJOHWbm9hlys0mjLLQ/formResponse"
                                      method="POST"
                                      target="hidden_gform_target"
                                      class="form"
                                      id="join-form"
                                    >
                                      <div
                                        id="w-node-a1eb83f5-487c-b396-c62c-b34e2ea74f54-2ea74f51"
                                        class="form-col"
                                      >
                                        <div class="form-field-down">
                                          <label for="join-name" class="form-label">Your name</label>
                                          <div class="form-input-group">
                                            <input
                                              id="join-name"
                                              class="form-input w-input"
                                              maxlength="256"
                                              name="entry.1331070767"
                                              placeholder="Enter your name..."
                                              type="text"
                                              required
                                            />
                                          </div>
                                        </div>
                                    
                                        <div class="form-field-down">
                                          <label for="join-email" class="form-label">Email address</label>
                                          <div class="form-input-group">
                                            <input
                                              id="join-email"
                                              class="form-input w-input"
                                              maxlength="256"
                                              name="entry.294081447"
                                              placeholder="Enter your email..."
                                              type="email"
                                              required
                                            />
                                          </div>
                                        </div>
                                    
                                        <div class="form-field-down">
                                          <label for="join-affiliation" class="form-label">Affiliation</label>
                                          <div class="form-input-group">
                                            <input
                                              id="join-affiliation"
                                              class="form-input w-input"
                                              maxlength="256"
                                              name="entry.1640965268"
                                              placeholder="Institution or organization..."
                                              type="text"
                                              required
                                            />
                                          </div>
                                        </div>
                                    
                                        <div class="form-field-down">
                                          <label for="join-field" class="form-label">Field</label>
                                          <div class="form-input-group">
                                            <select
                                              id="join-field"
                                              name="entry.1350156812"
                                              class="form-select w-select"
                                              required
                                            >
                                              <option value="">Select a field</option>
                                              <option value="Atmospheric and Oceanic Sciences">Atmospheric and Oceanic Sciences</option>
                                              <option value="Biology">Biology</option>
                                              <option value="Chemistry">Chemistry</option>
                                              <option value="Earth System Science">Earth System Science</option>
                                              <option value="Ecology">Ecology</option>
                                              <option value="Environmental Engineering">Environmental Engineering</option>
                                              <option value="Environmental Science">Environmental Science</option>
                                              <option value="Geography">Geography</option>
                                              <option value="Geology">Geology</option>
                                              <option value="GIS">GIS</option>
                                              <option value="Oceanography">Oceanography</option>
                                              <option value="Physics">Physics</option>
                                              <option value="Renewable Energy">Renewable Enery</option>
                                              <option value="Other">Other</option>
                                            </select>
                                          </div>
                                        </div>
                                      </div>
                                    
                                      <div
                                        id="w-node-a1eb83f5-487c-b396-c62c-b34e2ea74f8e-2ea74f51"
                                        class="form-col"
                                      >
                                        <div class="form-field-down">
                                          <label for="join-message" class="form-label">Research background or message</label>
                                          <div class="form-input-group">
                                            <textarea
                                              id="join-message"
                                              class="form-input message w-input"
                                              maxlength="5000"
                                              name="entry.1056600548"
                                              placeholder="(Optional) Give us a quick background on your research!"
                                            ></textarea>
                                          </div>
                                        </div>
                                      </div>
                                    
                                      <div id="w-node-a1eb83f5-487c-b396-c62c-b34e2ea74fbb-2ea74f51">
                                        <button type="submit" class="button-primary w-button">Join Now</button>
                                      </div>
                                    </form>
                                    
                                    <!-- Hidden iframe to catch Google Forms response -->
                                    <iframe
                                      name="hidden_gform_target"
                                      id="hidden_gform_target"
                                      style="display:none;"
                                    ></iframe>
<div id="join-success-overlay" class="join-success-overlay" hidden>
  <div class="join-success-card">
    <button
      type="button"
      class="join-success-close"
      aria-label="Close success message"
    >
      ×
    </button>

    <!-- This acts as the "image" with rounded corners; you can swap the bg-image in CSS -->
    <div class="join-success-image">
      <div class="join-success-text">
        <h3>Thank you for joining!</h3>
        <p>
          We’ve received your message and will get back to you as soon as we can.
        </p>
      </div>
    </div>
  </div>
</div>


                                    <div class="success-message w-form-done">
                                        <div>Thank you! Your submission has been received!</div>
                                    </div>
                                    <div class="error-message w-form-fail">
                                        <div>Oops! Something went wrong while submitting the form.</div>
                                    </div>
                                </div>
                            </div>
                            <a
                                href="https://maps.app.goo.gl/H2yG4ov6B7hUoF688"
                                target="_blank"
                                class="map-link w-inline-block"
                                ><img
                                    src="/assets/img/BoulderMAP.png"
                                    loading="lazy"
                                    alt="Map"
                                    class="map" /><img
                                    src="/assets/img/BoulderMAP.png"
                                    loading="lazy"
                                    alt="Map"
                                    class="map md"
                            /></a>
                        </div>
                    </section>
                </main>
<script is:raw>
  (function () {
    const form = document.getElementById('join-form');
    const iframe = document.getElementById('hidden_gform_target');
    const overlay = document.getElementById('join-success-overlay');
    const closeBtn = document.querySelector('.join-success-close');

    if (!form || !iframe || !overlay) return;

    let submitted = false;

    form.addEventListener('submit', function () {
      // Mark that we intentionally submitted; iframe load will follow
      submitted = true;
    });

    iframe.addEventListener('load', function () {
      if (!submitted) return;
      submitted = false;

      // Reset the form fields
      form.reset();

      // Show the success overlay
      overlay.removeAttribute('hidden');
    });

    function hideOverlay() {
      overlay.setAttribute('hidden', 'true');
    }

    if (closeBtn) {
      closeBtn.addEventListener('click', hideOverlay);
    }

    // Clicking the dark background closes the overlay
    overlay.addEventListener('click', function (e) {
      if (e.target === overlay) {
        hideOverlay();
      }
    });

    // ESC key closes the overlay
    document.addEventListener('keydown', function (e) {
      if (e.key === 'Escape') {
        hideOverlay();
      }
    });
  })();
</script>

</Site>
