---
import Site from "../layouts/Site.astro";
---
<Site title="Methane Myths in the Media">
  <main class="main-wrap">
    <section class="blog-detail">
      <div class="w-layout-blockcontainer container w-container">
        <div class="blog-details-wrap">
          <div class="blog-date">2025-11-12</div><div class="blog-date">Lee Feinman</div>
          <h1 class="heading-six pt-10">Methane Myths in the Media</h1>
          <img src="assets/img/earth_at_night.jpg" alt="Methane Myths in the Media" class="blog-detail-thumb"/>
          <div class="rich-text w-richtext">
            <h1>Heading</h1>
            <p>Body <strong>markdown</strong> here. An image:</p>
            <p>DID IT OVERWRITE?</p>
            <p><img class="blog-inline-image" src="assets/img/earth_at_night.jpg" alt="An image" /></p>
          </div>
        </div>
      </div>
    </section>
  </main>
</Site>
