---
// src/components/Footer.astro
const year = new Date().getFullYear();
---
 			<footer class="footer-area">
 				<div class="w-layout-blockcontainer container w-container">
 					<div class="footer-top">
 						<div class="footer-widget">
 							<h2 class="heading-five text-white" data-w-id="ab93d299-3b29-96eb-810e-55a6992be544">
 								Policy engagement for Climate scientists.
 							</h2>
 							<form action="https://arvora.webflow.io/search" class="search w-form" data-w-id="58deabdb-3fec-7b85-53d0-d7c9241abf0e">
 								<input class="search-input w-input" id="search-footer" maxlength="256" name="query" placeholder="Search&hellip;" required type="search">
 								<input class="btn-search w-button" type="submit" value="Search">
 							</form>
 						</div>
 						<div class="footer-widget">
 							<ul class="footer-nav" data-w-id="6ebfc4ba-b4d8-a260-9886-80911291f833" role="list">
 								<li class="nav-item-two">
 									<a aria-current="page" class="footer-link w-inline-block w--current" href="/">
 										<div class="nav-link-two">
 											Home
 										</div>
 										<img alt class="arrow-right" loading="lazy" src="/assets/img/68d27dd224254b6f9b6a2335_arrow-right-75954563.svg">
 									</a>
 								</li>
 								<li class="nav-item-two">
 									<a class="footer-link w-inline-block" href="/action-resources">
 										<div class="nav-link-two">
 											Action
 										</div>
 										<img alt class="arrow-right" loading="lazy" src="/assets/img/68d27dd224254b6f9b6a2335_arrow-right-75954563.svg">
 									</a>
 								</li>
 							 	<li class="nav-item-two">
 									<a class="footer-link w-inline-block" href="/climate-policy">
 										<div class="nav-link-two">
 											Policy
 										</div>
 										<img alt class="arrow-right" loading="lazy" src="/assets/img/68d27dd224254b6f9b6a2335_arrow-right-75954563.svg">
 									</a>
 								</li>
 								<li class="nav-item-two">
 									<a class="footer-link w-inline-block" href="/climate-misinformation">
 										<div class="nav-link-two">
 											Misinformation
 										</div>
 										<img alt class="arrow-right" loading="lazy" src="/assets/img/68d27dd224254b6f9b6a2335_arrow-right-75954563.svg">
 									</a>
 								</li>
 								<li class="nav-item-two">
 									<a class="footer-link w-inline-block" href="/climate-education">
 										<div class="nav-link-two">
 											Education
 										</div>
 										<img alt class="arrow-right" loading="lazy" src="/assets/img/68d27dd224254b6f9b6a2335_arrow-right-75954563.svg">
 									</a>
 								</li>
 								<li class="nav-item-two">
 									<a class="footer-link w-inline-block" href="/join">
 										<div class="nav-link-two">
 											Join
 										</div>
 										<img alt class="arrow-right" loading="lazy" src="/assets/img/68d27dd224254b6f9b6a2335_arrow-right-75954563.svg">
 									</a>
 								</li>
 							</ul>
 						</div>
 					</div>
 					<div class="footer-btm">
 						<img alt="Arvora" class="footer-img" data-w-id="ab93d299-3b29-96eb-810e-55a6992be547" loading="lazy" src="/assets/img/pretty-climate.jpeg" width=500px>
 						<div class="footer-btm-right">
 							<img alt="Logo" data-w-id="ab93d299-3b29-96eb-810e-55a6992be548" loading="lazy" src="/assets/img/Climate-reAction_logo1.png">
 						</div>
 					</div>
 					<div class="footer-copyright" data-w-id="ab93d299-3b29-96eb-810e-55a6992be549">
 						<p class="copyright-text">
 							&copy; {year} - Developed by Climate reAction
 						</p>
 					</div>
 				</div>
 			</footer>
